langgraph
langchain
langchain-core
langchain-community

langsmith

langchain-google-genai
google-generativeai

python-dotenv

tiktoken

pydantic

ipykernel


google-genai
langchain-groq

streamlit

langgraph-checkpoint-sqlite